
.about-holder {
    background: $primePurple;

    .about-wrap{
        @media(min-width: 1150px){
            padding: 7%;
        }
    }  

    .about-twrap{
        width: 315px;

        @media(min-width: 768px){
            width:600px;

            @media(min-width: 1024px){
                width:750px;

                @media(min-width: 1150px){
                    width: 100%;
                    margin: 0 auto;
                    flex-direction: row;
                    justify-content: center;
                }
            }
        } 
        .aboutinfo-wrap{
            @media(min-width: 1150px){
                width: 100%;
            }
        }  

    }

    h2 {
        @include fontSettings($pureWhite, 60px, 500, 1, 0px 0 15px);

        @media(min-width: 1024px){
            font-size: 80px;

            @media(min-width: 1150px){
                @include fontSettings($pureWhite, 60px, 500, 1, 70px 0px 15px);
            }
        }      
    }

    h3 {
        @include fontSettings($pureWhite, 28px, 500, 1.3, 0 0 10px);
        word-wrap: break-word;

        @media(min-width: 1024px){
            @include fontSettings($pureWhite, 35px, 500, 1.3, 0 0 25px);
            font-size: 35px;

            @media(min-width: 1150px){
                @include fontSettings($pureWhite, 30px, 500, 1, 0px 0px 10px 0px);

            }
        }      
    }

    .personal-wrap{
        @include dimensions($offPurple, 300px, 300px, 150px, -5px 120px 0);

    }

    .personal-holder {
        @include dimensions(none, 450px, 450px, 0, 0);
        transition: all 0.5s ease-out;

        @media(min-width: 768px){
            @include dimensions(none, 750px, 450px, 0, 0);

            @media(min-width: 1150px){
                width: 100%;
            }
        }

        h4 {
            @include fontSettings($pureWhite, 40px, 400, 1, 10px 110px 0px);

            @media(min-width: 768px){
                @include fontSettings($pureWhite, 42px, 400, 1, 10px 130px 0px);
                text-align: left;
                @media(min-width: 1024px){
                    font-size: 45px;
                    text-align: center;

                    @media(min-width: 1150px){
                        margin: 10px 50px 0px;
                        text-align: left;
                    }
                }
            }
        }

        p {
            @include fontSettings($pureWhite, 18px, 400, 1.5, 10px 75px 10px);
            word-wrap: break-word;

            @media(min-width: 768px){
                font-size: 22px;
                @include fontSettings($pureWhite, 20px, 400, 1.5, 10px 75px 10px);

                @media(min-width: 1024px){
                    @include fontSettings($pureWhite, 22px, 400, 1.5, 10px 75px 10px);

                    @media(min-width: 1150px){
                        @include fontSettings($pureWhite, 20px, 400, 1.5, 10px 50px 10px 0px);
                    }
                }
            }
        }
    }

    .texthold {
        @include dimensions(none, 450px, 280px, 0px, 0);

        @media(min-width: 768px){
            @include dimensions(none, 750px, 300px, 0, 0);

            @media(min-width: 1150px){
                width: 575px;
                margin: 0px -120px;
            }
        }
    }

    .leftbutton, .rightbutton{
        @include fontSettings($pureWhite, 20px, 500px, 1, 0px -60px 0 -20px);
        transition: all 0.5s ease-in-out;
        top: 17px;
        width: 45%;

        @media(min-width: 400px){
            margin: 0 -100px;

            @media(min-width: 768px){
                margin: 0 50px 0 -160px;

                @media(min-width: 1024px){
                    margin: 0 -50px;
                    display: flex;
                    justify-content: center;

                    @media(min-width: 1150px){
                        margin: 7px 60px 0 -160px;
                    }
                }
            }
        }
    }

    .book{
        @include dimensions(none, 300px, 300px, 0px, 60px auto 15px);
        position: relative;

        @media(min-width: 768px){
            @include dimensions(none, 400px, 400px, 0px, 90px auto 0);

            @media(min-width: 1024px){
                @include dimensions(none, 500px, 500px, 0px, 190px auto 0);

                @media(min-width: 1150px){
                    @include dimensions(none, 100%, 450px, 0px, 50px 60px 0 0);
                }   
            }   
        }
    }

    .resbutton{
        @include border($pureWhite, 1px);
        @include dimensions(none, 300px, 65px, 10px, 20px auto 75px);
        @include fontSettings($pureWhite, 22px, 500, 1, 20px auto 75px);
        transition: all 0.5s ease-in-out;
        
        @media(min-width: 1024px){
            margin: 25px auto 125px;

            @media(min-width: 1150px){
                margin: -80px 0 5% 52.5%; 
            }
        }      
    }
}

.shield{
    @include dimensions(none, 350px, 350px, 0, auto);
    top: -26px;
    z-index: 3;
    opacity: 0;
}

.inner-plate{
    @include dimensions($pureWhite, 300px, 300px, 150px, 0);
    transform: scale(0);
    transition: all 1s ease-in-out;
    z-index: 5;
}